---
import "@styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/png" href="/icon.png" />
        <link rel="icon" type="image/svg+xml" href="/icon.svg" />
        <link rel="icon" type="image/x-icon" href="/icon.svg" />

        <title>Faizan Abbas</title>
        <meta name="title" content="Faizan Abbas" />
        <meta
            name="description"
            content="Homepage of Faizan Abbas. Software Engineer."
        />
    </head>
    <body>
        <main class="mx-auto w-full max-w-screen-sm px-5">
            <slot />
        </main>
    </body>
</html>
